
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
  

 
}

.dice {
  text-align: center;
  
}


.main{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:25px;
}
.btn{
  border-radius: 20px; 
  height:80px;
  width: 120px;
  background-color: rgb(36, 49, 49);

  font-family: 'Lobster', cursive;
  
  font-size: 1.5rem;
  color: #04ed9f;
    box-shadow:

      1px 2px 2px hsla(161, 95%, 41%, 0.2),
      2px 4px 4px hsla(167, 96%, 39%, 0.2),
      4px 8px 8px hsla(164, 88%, 52%, 0.2),
      8px 16px 16px hsla(156, 74%, 48%, 0.2),
      16px 32px 32px hsla(157, 89%, 32%, 0.2);
  


}

#button{
  border-radius: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  

  

  

}



body {
  display: flex;
  flex-direction: column;
  background-color: #0d1815db;
  min-height: 100vh;
}

h1 {
  margin: 25px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #404c5b;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.social{
  margin: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  

}

@media (max-width: 884px) {
  .container{
    width:100%
  }
  h1{
    font-size: 4rem;
  }
  .btn{
    height:100px;
    width: 120px;
    font-size: 1rem;
    position: relative;
    top:65px;
  }
}
@media (max-width:435px){
  .btn{
    height:70px;
    width:100px;
    top:70px;
    }
}

